.col-md-5 img {
    width: 100%;
}

.btn-success {
  background-color: #212529;
  color: #fff !important;
}


.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.btn-primary {
    background-color: #1c2628;
    border-color: #1c2628;
}

.textsize {
    padding-right: 15px;
    padding-left: 10px    
}

.fab {
    margin-top: 20px;
}

.flashes {
  display: flex;
  text-decoration: underline;
}

/* users reviews star ratings  */

.rating {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
}
#rating {
  margin: 0 15px;
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 32px;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

