.col-md-5 img {
    width: 100%;
}

.btn-success {
  background-color: #212529;
  color: #fff !important;
}


.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.btn-primary {
    background-color: #1c2628;
    border-color: #1c2628;
}

.textsize {
    padding-right: 15px;
    padding-left: 10px    
}

.fab {
    margin-top: 20px;
}

.fa-solid, .fa-book{
  margin: 0 15px 0 0;
}

.flashes {
  display: flex;
  text-decoration: underline;
}

.critics {
  margin: 30px;
}

.dash {
margin: 0 5px 0 5px;
}

/* users reviews star ratings  */
#rating-extra{
  font-size: x-small;
}

.rating {
  display: flex;
  padding: 0;
  margin: 0;
     }
  
  .rating li {
  list-style-type: none
  }
  
  .rating-item {
  border: 1px solid #fff;
  cursor: pointer;
  font-size:2em;
  color: rgb(211, 162, 26);
  }
  
  /* initial: make all stars full */
  .rating-item::before {
  content: "\2605";
  }
  
  /* make until the clicked star (the rest) empty */
  .rating-item.active ~ .rating-item::before {
  content: "\2606";
  }
  
  /* on hover make all full */
  .rating:hover .rating-item::before {
  content: "\2605";
  }
  
  /* make until the hovered (the rest) empty */
  .rating-item:hover ~ .rating-item::before {
  content: "\2606";
  }

  #rating p {
    margin: 10px 0 0 0;
  }

