{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
           <img src="{{ book.image_source }}" alt="Profile image for {{ book.name}}">                     
        </div>
    <div class="col-md-7">
        <h2 class="col-md-12" name="book_name">{{ book.name }} by {{ book.author }}</h2>
    <button class="btn btn-primary d-inline"><a href='{{ book.link}}' target="_blank" class="text-white">Buy this book now!</a></button>
        <button class="btn btn-primary d-inline" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Add Review
          </button>
          <!-- To rate the book and leave the review -->
        <div class="collapse" id="collapseExample">
            <div class="card">                                  
                <div class="rating" name="rating">                                        
                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> 
                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> 
                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> 
                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                    <p id="rating">Rate the book:</p>
                </div>           
        <form method="POST" action="{{ url_for('add_review') }}">
            <p>Leave your review here:</p>
            <div class="input-group">                
               <textarea class="form-control" id="review" name="review" rows="8" aria-label="With textarea"></textarea>                           
              </div> 
              <!-- Hidden date and time for sorting input data -->         
              <div hidden>
                <p>Current Date is <input type="text" id="currentDate" name="date"></p>
                <p>Current Time is <input type="text" id="currentTime" name="time"></p>
              </div>
              <!-- Buttons to manipulate user's inputs -->
              <div>
              <button class="btn btn-primary" type="submit">Add</button>
              <button class="btn btn-primary" type="submit">Edit</button>
              <button class="btn btn-primary" type="submit">Delete</button>
          </div>
        </div>
    </form>
</div>    
    
    <div> 
        <p>{{ book.description}}</p> 
        </div>   
</div>
    <div>
    <div class="col-md-12">
        <h4 class="col-md-12 m-20">See Critic Reviews:</h4>
        <p>{{ book.review1}}<b>{{ book.critic1}}</b></p>
        <p>{{ book.review2}}<b>{{ book.critic2}}</b></p>
        <p>{{ book.review3}}<b>{{ book.critic3}}</b></p>
        <p>{{ book.review4}}<b>{{ book.critic4}}</b></p>
        <p>{{ book.review5}}<b>{{ book.critic5}}</b></p>
        <p>{{ book.review6}}<b>{{ book.critic6}}</b></p>
        <p>{{ book.review7}}<b>{{ book.critic7}}</b></p>
        <p>{{ book.review8}}<b>{{ book.critic8}}</b></p>        
    </div>
    <div class="col-md-12">
        <h4 class="col-md-12">See Member Reviews:</h4>
        <p>Be first to review this book!</p>
        
    {% for task in tasks %}
        {{ task.task_name }}<br>
        {{ task.category_name }}<br>
        {{ task.task_description }}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}<br>
    {% endfor %}

       
    </div>
{% endblock %}