{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-5">
           <img src="{{ book_name.image_source }}" alt="Profile image for {{ book_name.book_name}}">                     
        </div>
       
    <div class="col-md-7">
        <div class="col-md-12">
        <h3 id="getBookName">{{ book_name.book_name }}</h3>by 
        <h2 id="getAuthor">{{ book_name.book_author }}</h2>        
        <a href="{{ url_for('reviews') }}">Press here to back to books list</a>
        <p id="getBookId">{{ book_name._id }}</p>
    <button class="btn btn-primary d-inline"><a href='{{ book_name.buy_link }}' target="_blank" class="text-white">Buy this book now!</a></button>
        <button class="btn btn-primary d-inline" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Add Review
          </button>
          <!-- To rate the book and leave the review -->
        <div class="collapse" id="collapseExample">
            <div class="card"> 
                <div class="row">
                    <div class ="col-4"><p id="rating">Rate the book:</p></div>  
                    <div class ="col-8">                              
                    <ul class="rating">                    
                    <li class="rating-item" data-rate="1"></li>
                    <li class="rating-item active" data-rate="2"></li>
                    <li class="rating-item" data-rate="3"></li>
                    <li class="rating-item" data-rate="4"></li>
                    <li class="rating-item" data-rate="5"></li>                    
                    </ul>                   
                </div> 
            </div>          
        <form method="POST" action="{{ url_for('add_review') }}">
            <p>Leave your review here:</p>
            <div class="input-group">                
               <textarea class="form-control" id="review" name="review" rows="8" aria-label="With textarea"></textarea>                           
              </div> 
              <!-- Hidden date and time for sorting input data -->         
              <div>
                <p>Current Rating is <input type="text" id="memberRating" name="memberRating"></p>
                <p>Current Book is <input type="text" id="currentBookName" name="bookName"></p>
                <p>Current Author is <input type="text" id="currentAuthor" name="bookAuthor"></p>
                <p>Current Date is <input type="text" id="currentDate" name="currentDate"></p>
                <p>Current Time is <input type="text" id="currentTime" name="currentTime"></p>
                <p>Current Book ID is <input type="text" id="currentBookId" name="currentBookId"></p>
              </div>
              <!-- Buttons to manipulate user's inputs -->
              <div>
              <button class="btn btn-primary" type="submit">Add</button>              
          </div>
        </div>
    </form>
</div>    
</div>
    <div> 
        <p>{{ book_name.book_description}}</p> 
        </div>   
</div>
</div>  
<div class="container"></div>
<div class="row">
    <div class="col-md-12">
        <h4 class="col-md-12 m-20">See Critic Reviews:</h4>
    <ul class="list-unstyled">
        <li class="critics"><i class="fa-solid fa-book"></i>{{ critics_reviews.critic_review_1 }}<em class="dash">—</em><strong>{{ critics_reviews.critic_name_1}}</strong><br></li>
        <li class="critics"><i class="fa-solid fa-book"></i>{{ critics_reviews.critic_review_2 }}<em class="dash">—</em><strong>{{ critics_reviews.critic_name_2}}</strong><br></li>
        <li class="critics"><i class="fa-solid fa-book"></i>{{ critics_reviews.critic_review_3 }}<em class="dash">—</em><strong>{{ critics_reviews.critic_name_3}}</strong><br></li>
        <li class="critics"><i class="fa-solid fa-book"></i>{{ critics_reviews.critic_review_4 }}<em class="dash">—</em><strong>{{ critics_reviews.critic_name_4}}</strong><br></li>
        <li class="critics"><i class="fa-solid fa-book"></i>{{ critics_reviews.critic_review_5 }}<em class="dash">—</em><strong>{{ critics_reviews.critic_name_5}}</strong><br></li>
        <li class="critics"><i class="fa-solid fa-book"></i>{{ critics_reviews.critic_review_6 }}<em class="dash">—</em><strong>{{ critics_reviews.critic_name_6}}</strong><br></li>
        <li class="critics"><i class="fa-solid fa-book"></i>{{ critics_reviews.critic_review_7 }}<em class="dash">—</em><strong>{{ critics_reviews.critic_name_7}}</strong><br></li>
        <li class="critics"><i class="fa-solid fa-book"></i>{{ critics_reviews.critic_review_8 }}<em class="dash">—</em><strong>{{ critics_reviews.critic_name_8}}</strong><br></li>
    </ul>
    </div>
</div>
    
<div class="row">
    <div class="col-md-12">
        <h4 class="col-md-12 m-20">See Members Reviews:</h4>   
    </div>
</div>
<!-- patikrint klaida -->
{% for review in reviews %}
<div class="row user-reviews">
    <div class="col-md-4">
        <ul>
            <li>Member name: {{ review.created_by|upper }}</li>
            <li>Member rating: {{ review.rating }}</li>
            <li>Date: {{ review.date }}</li>                  
      </ul>
      {% if session.user|lower == review.created_by %}
      <a href="{{ url_for('edit_review', review_id=review._id) }}" type="button" class="btn btn-primary">Edit</a>
      <a href="{{ url_for('delete_review', review_id=review._id) }}" type="button" class="btn btn-primary">Delete</a>
      {% endif %}	
    </div>

<div class="col-md-8">
    <ul>
        <li>{{ review.review }}</li>
    </ul>
</div>
</div>
{% endfor %}


{% endblock %}