{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-5">
           <img src="{{ book_name.image_source }}" alt="Profile image for {{ book_name.book_name}}">                                
        </div>
       
    <div class="col-md-7">
        <div class="col-md-12">
        <h3 id="getBookName">{{ book_name.book_name }}</h3>by 
        <h2 id="getAuthor">{{ book_name.book_author }}</h2>
        <p id="getBookId">{{ book_name._id }}</p>    
    <form method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">

        <h4>Edit your review here:</h4>
        <div class="input-group">
            <div class="row">
                <div class ="col-4"><p id="rating">Your book rating:</p></div>  
                <div class ="col-8">                              
                <ul class="rating">                    
                <li class="rating-item" data-rate="1"></li>
                <li class="rating-item" data-rate="2"></li>
                <li class="rating-item" data-rate="3"></li>
                <li class="rating-item" data-rate="4"></li>
                <li class="rating-item" data-rate="5"></li>                    
                </ul>                   
            </div>                 
           <textarea class="form-control" id="review" name="review"  rows="12" aria-label="With textarea">
               {{- review.review -}}
            </textarea>
                        <!-- Rating to fix, it should show how user rated the book -->
          </div> 
          <!-- Hidden date and time for sorting input data -->         
          <div>
            <p>Current Rating is <input type="text" value="{{ review.rating }}" id="memberRating" name="memberRating"></p>
            <p>Current Book is <input type="text" id="currentBookName" name="bookName"></p>
            <p>Current Author is <input type="text" id="currentAuthor" name="bookAuthor"></p>
            <p>Current Date is <input type="text" id="currentDate" name="date"></p>
            <p>Current Time is <input type="text" id="currentTime" name="time"></p>
            <p>Current Book ID is <input type="text" id="currentBookId" name="currentBookId"></p>
          </div>
          <!-- Buttons to manipulate user's inputs -->
          <div>          
          <a href="{{ url_for('reviews') }}" class="btn btn-primary" type="submit">Cancel</a>
          <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </div>
</form>   
        
        </div>  
    </div> 
        
                       
          <div class="row">
              <div class="col-12">           
                <p>{{ book_name.book_description}}</p> 
</div>
</div>    
</div>
    
</div>
{% endblock %}