{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="https://www.bookbrowse.com/news/" target="_blank">
                    <h2 class="post-title">
                        What It would take to disrupt the publishing industry
                    </h2>
                    <h3 class="post-subtitle">
                        Writing in Publishers Weekly, Brooke Warner, publisher of She Writes Press and SparkPress, talks about the problems that...
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="https://www.bookbrowse.com/news/" target="_blank">Bookbrowse</a>
                    on October 13, 2021</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="https://www.bookbrowse.com/news/" target="_blank">
                    <h2 class="post-title">
                        How Somali women are breaking tradition to write novels
                    </h2>
                    <h3 class="post-subtitle">For centuries, Somalia has been known as the "nation of poets" but this tradition has largely been the preserve of men.</h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="https://www.bookbrowse.com/news/" target="_blank">Bookbrowse</a>
                    on October 11, 2021</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="https://www.bookbrowse.com/news/" target="_blank">
                    <h2 class="post-title">
                        Nobel Literature Prize 2021: Abdulrazak Gurnah named winner
                    </h2>
                    <h3 class="post-subtitle">
                        Tanzanian novelist Abdulrazak Gurnah has said he was "surprised and humbled" to be awarded the 2021 Nobel Prize for Literature.
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="https://www.bookbrowse.com/news/" target="_blank">Bookbrowse</a>
                    on October 07, 2021</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="https://www.bookbrowse.com/news/" target="_blank">
                    <h2 class="post-title">
                        Finalists announced for this year’s National Book Awards
                    </h2>
                    <h3 class="post-subtitle">
                        The National Book Foundation announced the finalists for this year's National Book Awards.
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="https://www.bookbrowse.com/news/" target="_blank">Bookbrowse</a>
                    on October 06, 2021</p>
            </div>
            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
{% endblock %}