{% extends "base.html" %}
{% block content %}
   
    <h2>{{ page_title }}</h2>

    <br>
    <div class="container">
       <div class="row">
         <div class="col-4">
           {{ username }}'s.upper() Profile
           <div class="kv-avatar">
            <div class="file-loading">
                <input id="avatar-1" name="avatar-1" type="file" required>
            </div>
        </div>
        <div class="kv-avatar-hint">
            <small>Select file < 1500 KB</small>
        </div>
         
        <div>      
       <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Reviewed Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Profile</a>
        </li>
        </ul>
      </div>
    </div>
    <div class="col-8"> 
      <div class="accordion {{ loop.cycle('odd', 'even') }}" id="accordionExample">
        <div class="card">
          <div class="card-header" id="cardOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>{{ user_review.book_name }}</strong> by {{ user_review.author }}
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="#collapseOne" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li>Rating: {{ user_review.rating }}</li>
                <li>Review: {{ user_review.review }}</li>
                <li>Date: {{ user_review.date }}</li>
                <li>Time: {{ user_review.time }}</li>
                <li>Created by: {{ user_review.created_by|upper }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>
  
  {% endblock %}

  