{% extends "base.html" %}
{% block content %}
   
    <h2>{{ page_title }}</h2>

    <br>
    <div class="container">
       <div class="row">
         <div class="col-4">
           {{ username|upper }}'S Profile               
        <!-- <div>      
       <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Reviewed Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Profile</a>
        </li>
        </ul>
      </div> -->
    </div>
   
    <div class="col-8">
      {% for user_review in user_reviews %} 
      <div class="accordion" id="accordionExample">
        <!-- problem was with indexing. Added loop index to the id indexing number and it fixed problem -->
        <div class="card">
          <div class="card-header" id="card{{ loop.index }}">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                <strong>{{ user_review.book_name }}</strong> by {{ user_review.author }}
              </button>
            </h2>
          </div>
      
          <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="#collapse{{ loop.index }}" data-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li>Rating: {{ user_review.rating }}</li>
                <li>Review: {{ user_review.review }}</li>
                <li>Date: {{ user_review.date }}</li>
                <li>Time: {{ user_review.time }}</li>
                <li>Created by: {{ user_review.created_by|upper }}</li>
              <a href="{{ url_for('edit_review', review_id=user_review._id) }}" class="btn btn-primary">Edit</a>
              <a href="{{ url_for('delete_review', review_id=user_review._id) }}" class="btn btn-primary">Delete</a>
              </ul>
            </div>
          </div>
        </div>
        
      </div> 
      {% endfor %}    
    </div>
   
  </div>
</div>
  
  {% endblock %}

  