{% extends "base.html" %}
{% block content %}
   
    <h2>{{ page_title }}</h2>

    <br>
    <div class="container">
       <div class="row">
         <div class="col-4">
           {{ username }}'s.upper() Profile
           <div class="kv-avatar">
            <div class="file-loading">
                <input id="avatar-1" name="avatar-1" type="file" required>
            </div>
        </div>
        <div class="kv-avatar-hint">
            <small>Select file < 1500 KB</small>
        </div>
         
        <div>      
       <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Reviewed Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Profile</a>
        </li>
        </ul>
      </div>
    </div>
    <div class="col-8">    
      <ol>
        {% for review in reviews %}
        <li>
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <strong>{{ review.book_name }}</strong>
      </a>   
    </p>       
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <strong> {{ review.book_name }}</strong>
       <p>{{ review.rating }}</p>
       <p>{{ review.review }}</p>
       <p>{{ review.date }}</p>
       <p>{{ review.time }}</p>
       <p>by: {{ review.created_by }}</p>

      </div>
    </div>
  </li>
  {% endfor %}
</ol>     
    </div>
  </div>
</div>
  
  {% endblock %}

  